@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-primary">Ragnar Relay Time Estimator</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <span class="text-secondary">Select a race to view or Edit.</span>
        </div>
        <div class="col-sm-2">
            <a href="/CreateRace" class="btn btn-primary float-right">New Race</a>
        </div>
    </div>
</div>
<div class="container">
    <section class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Race Name</th>
                    <th>Pace Multiplyer</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Team Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @{
                foreach (var race in ViewBag.AllRaces)
                {
                    <tr>
                        <td>@race.RaceId</td>
                        <td>@race.RaceName</td>
                        <td>@race.RacePaceMultiplyer</td>
                        <td>@((race.Type) ? "Trail" : "Road")</td>
                        <td>@race.RaceStart.ToString("MM/dd/yyyy")</td>
                        <td>@race.TeamName</td>
                        <td>
                            <a href="/ViewRace/@race.RaceId">View</a> | <a href="/#">Edit</a>
                        </td>
                    </tr>
                }
            }            
            </tbody>
        </table>         
    </section>
</div>