@{ ViewData["Title"] = "Race Details"; }
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-primary">@ViewBag.Race.TeamName</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <span class="text-secondary">@ViewBag.Race.RaceName (@ViewBag.Race.RaceStart.ToString("MM/dd/yyyy"))</span>
    </div>
    <div class="col-sm-2">
      <a href="/" class="btn btn-primary float-right">Home</a>
    </div>
  </div>
</div>
<div class="container">
  <section id="Times" class="container-fluid">
    <table class="table">
      <thead>
        <tr>
          <th>Lap</th>
          <th>Name</th>
          <th>Start Time Est</th>
          <th>Finish Time Est</th>
          <th>Start Time Act</th>
          <th>Finish Time Act</th>
        </tr>
      </thead>
      <tbody>
        @{
          foreach (var lap in ViewBag.Race.Laps)
          {
            <tr>
              <td bgcolor="@lap.Course.ColorCode()">@lap.LapSequence</td>
              <td>@lap.Runner.NickName</td>
              <td>@lap.StartTimeEst.ToString("HH:mm")</td>
              <td>@lap.FinishTimeEst.ToString("HH:mm")</td>
              <td><a href="/#">@(lap.StartTimeAct != null ? lap.StartTimeAct.ToString("HH:mm"):"Enter")</a></td>
              <td><a href="/#">@(lap.FinishTimeAct != null ? lap.FinishTimeAct.ToString("HH:mm"):"Enter")</a></td>
            </tr>
          }
        }
      </tbody>
    </table>
  </section>
  <section id="Course" class="container-fluid">
    <h2 class="text-primary">Course</h2>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Difficulty</th>
          <th>Distance</th>
          <th>Elevation Gain</th>
          <th>Notes</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @{
          foreach (var course in ViewBag.Race.Courses)
          {
            <tr>
              <td>@course.CourseId</td>
              <td  bgcolor="@course.ColorCode()">@course.Difficulty</td>
              <td>@course.Distance</td>
              <td>@course.ElevGain</td>
              <td>@course.CourseNotes</td>
              <td>
                <a href="/#">Edit</a>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </section>
  <section id="Roster" class="container-fluid">
    <h2 class="text-primary">Roster</h2>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Pace</th>
          <th>Multiplyer</th>
          <th>Notes</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @{
          foreach (var runner in ViewBag.Race.Runners)
          {
            <tr>
              <td>@runner.RunnerSequence</td>
              <td>@runner.NickName</td>
              <td>@runner.PaceFormatted()</td>
              <td>@runner.RunnerPaceMultiplyer</td>
              <td>@runner.RunnerNotes</td>
              <td>
               <a href="/#">Edit</a>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </section>
</div>